.primeiraSection{
    width: 100%;
    height: 650px;
    background: linear-gradient(#0a375f,#172a3a);
    display: flex;
}

.caixaTexto{
    width: 580px;
    height: 310px;
    margin-top: 160px;
    margin-left: 150px;
    text-align: justify;
    color: #fff;
}

.txt1{
    font-size: 45px;
    
}
.txt2{
    font-size: 29px;
}

.bt1{
    margin-top: 520px;
    margin-left: -150px;
    width: 180px;
    height: 60px;
}

.app{
    width: 450px;
    height: 550px;
    margin-top: 100px;
    margin-left: 200px;

}

.destaque{
    color: #FF8A00;
}