.segundaSection{
    width: 100%;
    height: 75vh;
    background: linear-gradient(#0a375f,#172a3a);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mulher{
    height: 75vh;
    width: 23%;
}

.caixaTxt{
    width: 600px;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFF;
    text-align: left;
}

.txt3{
    font-size: 41px;
}
.txt4{
    font-size: 25px;
    margin-top: -30px;
}

.bt4{
    margin-top: 20px;
    margin-left: 130px;
    text-align: center;
}

.destaque{
    color: #FF8A00;
}

@media (max-width: 768px){

    .logo{
        display: none;
    }

    .caixaTxt{
        width: 500px;
    }

    .txt3{
        font-size: 30px;
    }

    .mulher{
        height: 75vh;
        width: 40%;
    }


}
@media (max-width: 460px){

    .caixaTxt{
        width: 300px;
    }

    .txt3{
        font-size: 25px;
    }
    .txt4{
        font-size: 15px;
        margin-top: 10px;
    }

    .mulher{
        height: 75vh;
        width: 45%;
    }

    .bt4{
        margin-top: 20px;
        margin-left: 30px;
        text-align: center;
    }


}