.segundaSection{
    width: 100%;
    height: 432px;
    background: linear-gradient(#0a375f,#172a3a);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mulher{
    height: 431px;
    width: 318ox;
}

.caixaTxt{
    width: 600px;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFF;
    text-align: left;
}

.txt3{
    font-size: 41px;
}
.txt4{
    font-size: 25px;
    margin-top: -30px;
}

.bt4{
    margin-top: 20px;
    margin-left: 130px;
    text-align: center;
}

.destaque{
    color: #FF8A00;
}