.terceiraSection{
    width: 100%;
    height: 450px;
    background: linear-gradient(#25425C, #1E3346);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caixaTexto{
    width: 665px;
    height: 295px;
    display: flex;
    flex-direction: column;
}


.txt1{
    color: #FFF;
    font-size: 40px;
}
.txt2{
    font-size: 20px;
    color: #FFF;
    margin-top: -10px;
}

.peter{
    border-radius: 0px 20px 0px 20px;
}

.destaque{
    color: #FF8A00;
}

.destaque2{
    color: #61e5e5;
}